:root {
  margin: 0%;
  --light-blue: #b0fbf2;
  --light-pink: #f3a8c2;
  --lighter-pink: #f6d1d6;
  --light-yellow: #eef6b0;
}

body {
  margin: 0%;
  background-color: var(--light-blue);
}

/* header */

header {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  color: var(--light-pink);
  background-color: white;
  font-family: 'Jua', sans-serif;
  -webkit-text-stroke: 1px black;
}

header > h1 {
  margin: 0;
  font-size: 80px;
}

.iconBook {
  font-size: 82px;
}

/* main */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 50px;
  gap: 25px;
}

.card{
  background-color: var(--light-yellow);
  border-radius: 20px;
  padding: 20px;
  height: 300px;
}

.card > h2 {
  margin: 0%;
}

.card > div > p {
  margin: 0%;
}

.addButton {
  align-items: center;
  justify-content: center;
  display: flex;
}

.addButton > a {
  font-size: 100px;
  color: var(--light-yellow);
  -webkit-text-stroke: 1px black;
  text-align: center;
  background-color: var(--light-blue);
  border: none;
}

a > i {
  cursor: pointer;
}

.overlay {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--lighter-pink);
  opacity: 0;
  transition: opacity 500ms;
  width: 20vw;
  height: max-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.bigWrapper {
  padding: 25px;
  padding-top: 0;
}

.wrapper {
  display: flex;
}

.wrapper > h2 {
  font-family: "Jua", sans-serif;
  margin: 0%;
  padding: 5px;
  font-size: 45px;
}

.overlay > a {
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  text-align: right;
  color: black;
}

.bigWrapper > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

form > input {
  height: 30px;
  border-radius: 5px;
  border: solid black 1px;
  font-size: 20px;
  padding: 2px;
}

form > button {
  padding: 5px;
  font-size: 30px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

/* footer */

footer  {
  font-size: 35px;
  text-align: center;
}

/* other setails */

.card:hover, .addButton>a:hover {
  transform: scale(1.1);
  transition: 1s;
}