:root {
  margin: 0%;
  --light-blue: #b0fbf2;
  --light-pink: #f3a8c2;
  --lighter-pink: #f6d1d6;
  --light-yellow: #eef6b0;
}

body {
  margin: 0%;
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px;
  color: var(--light-pink);
  background-color: white;
  font-family: 'Jua', sans-serif;
  -webkit-text-stroke: 1px black;
}

header > h1 {
  margin: 0;
  font-size: 80px;
}

.iconBook {
  font-size: 82px;
}

/* MAIN */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 50px;
  gap: 25px;
}

/* tarjeta de cada libro */

.card{
  background-color: var(--light-yellow);
  border-radius: 20px;
  padding: 20px;
  height: 300px;
  font-family: 'Barlow Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleContent > .titulo {
  margin: 0%;
  font-size: 3.2vw;
}

.titleContent > div > p {
  margin: 0%;
  font-size: 1.8vw;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options > i {
  font-size: 2vw;
}

.options > div > p {
  margin: 0%;
  font-size: 2vw;
}

.options > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.options > i {
  cursor: pointer;
}

.options > i:hover {
  color: var(--light-pink);
}

/* botón de agregar libro */ 

.addButton {
  align-items: center;
  justify-content: center;
  display: flex;
}

.addButton > a {
  font-size: 100px;
  color: var(--light-yellow);
  -webkit-text-stroke: 1px black;
  text-align: center;
  background-color: var(--light-blue);
  border: none;
}

a > i {
  cursor: pointer;
}

/* form para agregar el libro */

.overlay {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--lighter-pink);
  opacity: 0;
  transition: opacity 500ms;
  width: 20vw;
  height: max-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.bigWrapper {
  padding: 25px;
  padding-top: 0;
  position: relative;
}

.wrapper {
  display: flex;
}

.wrapper > h2 {
  font-family: "Jua", sans-serif;
  margin: 0%;
  padding: 5px;
  font-size: 45px;
}

.overlay > a {
  text-decoration: none;
  font-size: 25px;
  padding: 5px;
  text-align: right;
  color: black;
}

.bigWrapper > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.closed {
  visibility: hidden;
}

form > input {
  height: 30px;
  border-radius: 5px;
  border: solid black 1px;
  font-size: 20px;
  padding: 2px;
}

form > button {
  padding: 5px;
  font-size: 30px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

/* toggle button */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--light-pink);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--light-pink);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* FOOTER */

footer  {
  font-size: 35px;
  text-align: center;
}

/* OTHER DETAILS */

.card:hover, .addButton>a:hover {
  transform: scale(1.1);
  transition: 1s;
}